@import 'critical.css';

.intro {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    z-index: -1;
    top: -11.7rem;
    right: -13rem;
    width: 123.4rem;
    height: 65rem;
    background-image: url(../../assets/img/background-shape-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    z-index: 1;
    top: -15rem;
    left: 76rem;
    width: 43.1rem;
    height: 33.42rem;
    background-image: url(../../assets/svg/intro-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .title {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__text {
      width: 36.2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      & .button {
        margin-top: 4rem;
      }
    }

    &__image {
      width: 54.2rem;

      &__picture,
      & img {
        width: 54.2rem;
      }
    }
  }
}

@media only screen and (width <= 1050px) {

  .intro {
    min-height: 48rem;

    &__content {

      &__text,
      &__image {
        width: 48%;
      }

      &__text {

        & .button {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &__picture,
      & img {
        width: 100%;
      }
    }

    &::after {
      left: auto;
      right: -13rem;
    }
  }
}

@media only screen and (width <= 860px) {

  .intro .title {
    text-align: left;
  }
}

@media only screen and (width <= 600px) {

  .intro {

    &::before {
      width: 86.4rem;
    }

    &::after {
      display: none;
    }

    &__content {
      flex-direction: column;

      &__text {
        order: 2;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & .paragraph {
          width: calc(50% - 2rem);
        }

        & .button {
          margin: 0;
          bottom: -8rem;
        }
      }

      &__image {
        width: 100%;
        margin: 0 0 3rem;
        order: 1;
      }
    }
  }
}

@media only screen and (width <= 470px) {

  .intro__content__text {
    flex-direction: column;

    & .paragraph {
      width: 100%;
    }
  }
}
