@font-face {
  font-family: Pressura;
  font-style: normal;
  font-weight: 400;
  src: url(GT_Pressura_Regular.woff) format('woff'), url(GT_Pressura_Regular.woff2) format('woff2');
}

@font-face {
  font-family: Pressura;
  font-style: italic;
  font-weight: 700;
  src: url(GT_Pressura_Bold_Italic.woff) format('woff'), url(GT_Pressura_Bold_Italic.woff2) format('woff2');
}
